<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 为配置文件中的Java类型设置一个简短的名字，即设置别名。别名与xml的配置相关，其使用意义在于减少全限定类名的冗余 -->
   <typeAliases>
       <package name="com.bh.pojo"/>
   </typeAliases>
    <!--使用自动扫描。若配置文件与对应类位于同一目录，可无需自动扫描-->
<mappers>
    <package name="com.bh.pojo"/>
</mappers>
</configuration>